{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}  

{% block page_content %}

<h4>{% translate "Login" %}</h4>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="{% translate "Login" %}">
</form>

<a href="{% url 'annotation_index' %}">{% translate "Back to home" %}</a>
<a href="{% url 'social:begin' 'github' %}">{% translate "Login with GitHub" %}</a>
<a href="{% url 'password_reset' %}">{% translate "Reset password" %}</a>
<a href="{% url 'register' %}">{% translate "Register" %}</a>

{% endblock %}