{% extends "base.html" %}

{% load i18n %}
{% load highlight %}

{% block page_content %}
<h1>{% translate "Annotate claim" %}</h1>
<div class="row">
  <div class="col-md-12">
    <h4>{% translate "Claim" %}</h4>
    <p class="text-muted" style="font-size: 14px">{% translate "Date" %}: {{ claim.date }}</p>
    {% if language == "sv" %}
      <p>{{ claim.sent_sv }}</p>
    {% else %}
      <p>{{ claim.sent_en }}</p>
    {% endif %}

    <h4>{% translate "Paragraph" %}</h4>
    {% if language == "sv" %}
      <p>{{ claim.paragraph_text_sv|highlight:claim.sent_sv }}</p>
    {% else %}
      <p>{{ claim.paragraph_text_en|highlight:claim.sent_en }}</p>
    {% endif %}

    <form action="/{{ language }}/annotation/{{ claim.pk }}/" 
          method="post" 
          style="margin-top: 50px">
      {% csrf_token %}

      <h5>{% translate "Label" %}*</h5>
      <p>
        <a data-toggle="collapse" href="#labels-info" aria-expanded="false" aria-controls="labels-info">
          {% translate "More info" %}
        </a>
      </p>
      <div class="collapse" id="labels-info" style="margin-bottom: 30px">
        <div class="card card-body">
          <p>{% translate "Here are the explanations for the different categories:" %}</p>
          <ul>
            <li><b>{% translate "NOT Checkworthy" %}</b>{% translate ", which means that the stated claim is either not possible to check, such as predictions about the future, or it may be possible to check but not of interest to the general public, such as the breakfast the speaker had in the morning." %}</li>
            <li><b>{% translate "Checkworthy" %}</b>{% translate ", which means that the statement is possible to check by a human fact-checker and is interesting to the general public, such as if the unemployment rate has increased or decreased by the proposed amount." %}</li>
            <li><b>{% translate "Not applicable" %}</b>{% translate ", this label should ONLY be used in the case where you are unsure about which label to give the claim." %}</li>
          </ul>
        </div>
      </div>
      <div class="form-group">
        {% for radio in form.label %}
          <div>{{ radio }}</div>
        {% endfor %}
      </div>

      <h5>{% translate "Category" %}</h5>
      <p>
        <a data-toggle="collapse" href="#categories-info" aria-expanded="false" aria-controls="categories-info">
          {% translate "More info" %}
        </a>
      </p>
      <div class="collapse" id="categories-info" style="margin-bottom: 30px">
        <div class="card card-body">
          <p>{% translate "If you think that the current claim fits nicely into any of the following categories, please make sure to fill that in. This will help to increase the usefulness of the dataset. The categories are as follows:" %}</p>
          <ul>
            <li><b>{% translate "Opinion" %}</b>{% translate ', the statement is a specific preference or belief that the speaker has such as "I love pizza" and nothing that is relevant to fact-check.' %}</li>
            <li><b>{% translate "Prediction" %}</b>{% translate ', the statement is a prediction about the future such as "Tax reductions will reduce the unemployment rate". Statements like these might be possible to fact-check in some cases, but will most likely not be possible to label with a binary label such as true or false.' %}</li>
            <li><b>{% translate "Too general" %}</b>{% translate ', the statement is unspecific and can be interpreted in several different ways such as "We are facing another effort due to the pandemic". For a fact-checker to check these statements would mean that they had to make a few assumptions.' %}</li>
            <li><b>{% translate "Uninteresting" %}</b>{% translate ', the statement is factual but not interesting to the general public such as "I had bread for breakfast".' %}</li>
            <li><b>{% translate "Needs context" %}</b>{% translate ", it is not possible to fact-check the statement without additional context. This could be due to the paragraph being dependent on a previous paragraph. This category should NOT be used if the context that is needed is present in the provided paragraph, only in the cases where this paragraph does not provide sufficient context." %}</li>
          </ul>
        </div>
      </div>
      <div class="form-group">
        {{ form.category }}
      </div>

      <h5>{% translate "Comment" %}</h5>
      <div class="form-group">
        {{ form.comment }}
      </div>
      <p>* {% translate "Required" %}</p>
      <button type="submit" class="btn btn-primary">{% translate "Submit" %}</button>
      <a class="btn btn-secondary" href="{% url 'annotation_index' %}">{% translate "Return" %}</a>
    </form>
  </div>
</div>
{% endblock %}