{% extends "base.html" %}

{% load i18n %}
{% load highlight %}

{% block page_content %}
<h1>{% translate "Annotate claim" %}</h1>
<div class="row">
  <div class="col-md-12">
    <h4>{% translate "Claim" %}</h4>
    {% if language == "sv" %}
      <p>{{ claim.sent_sv }}</p>
    {% else %}
      <p>{{ claim.sent_en }}</p>
    {% endif %}

    <h4>{% translate "Paragraph" %}</h4>
    {% if language == "sv" %}
      <p>{{ claim.paragraph_text_sv|highlight:claim.sent_sv }}</p>
    {% else %}
      <p>{{ claim.paragraph_text_en|highlight:claim.sent_en }}</p>
    {% endif %}

    <form action="/{{ language }}/annotation/{{ claim.pk }}/" 
          method="post" 
          style="margin-top: 50px">
      {% csrf_token %}

      <h5>{% translate "Label" %}*</h5>
      <div class="form-group">
        {% for radio in form.label %}
          <div>{{ radio }}</div>
        {% endfor %}
      </div>

      <h5>{% translate "Category" %}</h5>
      <div class="form-group">
        {{ form.category }}
      </div>

      <h5>{% translate "Comment" %}</h5>
      <div class="form-group">
        {{ form.comment }}
      </div>
      <p>* {% translate "Required" %}</p>
      <button type="submit" class="btn btn-primary">{% translate "Submit" %}</button>
      <a class="btn btn-secondary" href="{% url 'annotation_index' %}">{% translate "Return" %}</a>
    </form>
  </div>
</div>
{% endblock %}